#header{
    text-align: center;
    background: #4B9ED8;
    color: white;
}
#container{
    background: #EFF0F1;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    color: black;
}
a{
    text-decoration: none;
    color: #25e254;
}